// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//admin-lte
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color: rgba(54, 2, 241, 0.9);
    color : #fff !important;
}

.level-two> .nav-item.menu-open > .nav-link{
    background-color: rgba(255, 255, 255, 0.1);
    color : #fff !important;
}

.level-two, .level-three{
    margin-left: 10px;
}